<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://yqall01.baidupcs.com/file/ef95e08a1b0f004798441afa55c1dfb7?bkt=p3-1400ef95e08a1b0f004798441afa55c1dfb770341d7800000004720d&fid=2517766130-250528-789361882021557&time=1514979871&sign=FDTAXGERQBHSK-DCb740ccc5511e5e8fedcff06b081203-aHDnlSzXDXuktru8KmKqtGGGk%2F0%3D&to=74&size=291341&sta_dx=291341&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH,Yangquan,Anywhere,,shanghai,ct&vuk=2517766130&iv=2&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=1400ef95e08a1b0f004798441afa55c1dfb770341d7800000004720d&expires=8h&rt=sh&r=767358542&mlogid=65463750252649388&vbdid=4261476455&fin=CSRecord.ipa&fn=CSRecord.ipa&rtype=1&dp-logid=65463750252649388&dp-callid=0.1.1&hps=1&tsl=0&csl=0&csign=4M9rN1aq6oCt%2BdO%2BPH5%2B9K5JzC8%3D&so=0&ut=1&uter=4&serv=0&uc=697285009&ic=2831889534&ti=490c656f793698b8052e5fa168475d80ede2538a250f4d82&by=themis</string>  
                </dict>  
				<dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://www.moemaid.com/1.png</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://www.moemaid.com/2.png</string>  
                </dict> 
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.fmm.fmm</string>  
                <key>bundle-version</key>  
                <string>1.0</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>testfm</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>  